<!DOCTYPE html>
<html>
    <head>
        <title>Trabalhando com Css</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="stylesheet" href="../../aulaLayout/estilos/layout2.css">
    </head>
    <body>
        <div id="princ">
            <header>Ifro - Campus Ariquemes</header>
			<section id="sessao1">
				<div id="div1" class="interna">
					<p>DIV 1</p>
					<p>DIV 1</p>
					<p>DIV 1</p>
					<p>DIV 1</p>
					<p>DIV 1</p>
					<p>DIV 1</p>
					<p>DIV 1</p>
					<p>DIV 1</p>
					<p>DIV 1</p>
					<p>DIV 1</p>
				</div>
				<div id="div2" class="interna">DIV 2</div>
				<div id="div3" class="interna">DIV 3</div>
				<div id="div4" class="interna">DIV 4</div>
			</section>
			<footer>Rodapé</footer>
        </div>
    </body>
</html>
