<!doctype html>
<html lang="pt-br">
<head> 
   <title>teste html</title>
   <link rel="stylesheet" href="teste.css"
</head>
<body>
<div class="container-grid">
   <div class="logo"><h2>Logo</h2></div>
   <div class="nav"><h2>Navigation</h2></div>
   <div class="header"><h2>Header</h2></div>
   <div class="side">
   <h2>Side Bar</h2>
   <br><br>
   <br><br>
   <br><br>
   <br><br>
   <br><br>
   </div>
   <div class="body"><h2>Body Area</h2></div>
   <div class="foot"><h2>Footer</h2></div>
</div>
</body>
</html>
